@charset "utf-8";



.adminHeader{
    /* border: red 1px solid; */
    padding-left: 3%;
}

.adminBody{
    /* border: 1px blue solid; */
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.amdimChart{
    border: 1px solid red;
    width: 50%;
    margin: 2.5%;
    height: 500px;
}   

#addEmployee,#updateEmployee{
    margin: 2%;
    display: inline-block;
    background-color:#ffff;
    border: none;
    border-radius: 5px;
    padding: 1% 2%;
    text-decoration: none;
    color: black;
}

#addEmployee:hover,#updateEmployee:hover{
    cursor: pointer;
    background-color:#0d6efd;
    color: #ffff;
}
