@charset "UTF-8";

/* === 모달 시작 === */
.modal_bg {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.2);
}

.modalEditPostContainer {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 0%;
	height: 100vh;
	z-index: 11;
	background-color: #fff;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

#modal_title {
	font-size: var(--size24);
	padding-bottom: var(--size12);
	display: block;
}
/* === 모달 끝 === */



/* === 좋아요 누른 사람 조회 모달 시작 === */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
    background-color: white;
    padding: var(--size24);
    margin: 10% auto;
    width: 20%;
    border-radius: 10px;
    filter: drop-shadow(4px 5px 22px rgba(0, 0, 0, 0.2));
}
#likeUserList{
	margin: var(--size18) 0 ;
}
.close {
	margin-left: auto;
    font-size:var(--size18);
    cursor: pointer;
}

/* === 좋아요 누른 사람 조회 모달 끝 === */

#right_bar {
	width: 100%;
	height: auto;
	border: 0px solid red;
}

#right_title_box {
	box-sizing: border-box;
	padding: var(--size24) var(--size24) var(--size18) var(--size24);
	border-bottom: 1px solid #c8c8c8;
}

#right_title {
	font-size: var(--size22);
}
#right_title_a {
    text-decoration: none; 
    color: inherit; /* 부모 요소의 색상 유지 */
}

#right_title_a:hover{
    text-decoration: none;
    color: inherit;
}

#right_menu_container {
	display: flex;
	align-items: center;
	margin-top: var(--size24)
}

#right_menu_container>span {
	margin-right: var(--size14);
}

#right_menu_container>span:last-child {
	margin-right: 0px;
}

#right_menu_container span a {
	text-decoration: none;
	color: #333;
}

#tool_box_right {
	margin-left: auto;
}

#tool_box_left {
	margin-right: auto;
}

#tool_box_right>span>span {
	display: inline-block;
	height: var(--size24);
	border-radius: var(--size2);
	transition: 0.5s all;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}
#preOrNextBtn{
	margin-right: var(--size12);
}

#sortCnt_btn>ul {
	display: none;
	position: absolute;
	right: 0px;
	width: max-content;
	text-align: left;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#sortCnt_btn>ul>li {
	box-sizing: border-box;
	padding: var(--size10) var(--size20);
	transition: all 0.5s;
}
#boardMaster {
	display: inline-block;
	font-size: var(--size12)
}

#goBackUrlBtn {
	background-color: transparent;
	border: none;
}

/* 게시글 하나 내용보여주기 시작 */
.padding {
	padding: var(--size22);
}

#postSubject {
	display: inline-block;
	font-size: var(--size24)
}
#heartIcon{
	font-size: 20px;
	color:red;
}
#heartIcon:hover{
	color:pink;
}
#postCreatBy, #postRegDate {
	font-size: var(--size14)
}

#postRegDate {
	color: #999999;
}
#likeCount{
	text-align: center;
	margin-top: -5px;
	font-size: 13px;
}
#onePostContent {
	width: 100%;
	min-width: 600px;
	min-height: 250px;
	padding: var(--size22);
}

#updateBoardGroup{
	width: 100%;
	display:inline-block;
	padding: 0 var(--size22) var(--size18) var(--size22);
	border-bottom: solid 1px #c8c8c8;
}

td {
    padding: var(--size8) 0; 
    vertical-align: top;     
    text-align: left;
}

#update_fileDrop{
	border: 2px dashed #ddd;
    padding: 20px;
    margin-bottom: 10px;
    color: #666;
}
#update_fileDrop:hover {
  background-color: #f9f9f9;
  width: 100%;
}

.file {
	padding: 0 var(--size22);
}

.fileLink {
	text-decoration: none;
	color: black;
	font-size: var(--size14);
}

.fileLink:hover {
	text-decoration: none;
	color: #666666;
}

.fileSize {
	font-size: var(--size12);
	color: #666666;
}

#updatePostBtnElmt{
	float: right;
}

#ViewOption {
	border-bottom: 1px solid #c8c8c8;
}
#likeListElmt:hover{
	cursor: pointer;	
	color: black;
}
.tranBlock {
	width: max-content;
	box-sizing: content-box;
	padding-right: 5px;
	position: relative;
	font-size: var(--size14);
}

.tranBlock::after {
	position: absolute;
	content: "";
	top: 50%;
	right: 0px;
	transform: translate(0px, -50%);
	width: 1px;
	height: 70%;
	background-color: #dbdbdb;
}

.tranBlock:last-child::after {
	position: absolute;
	content: "";
	top: 0px;
	right: 0px;
	display: none;
}

#commentListElmt{
	padding: 0 var(--size22) var(--size22) var(--size22);
}

.commentOfpost {
	display: flex;
	padding : var(--size22) 0;
}

.commentInfoBetween:nth-child(1) {
	border-right: solid 1px #c8c8c8;
	padding-right: 10px;
}

.commentInfoBetween:nth-child(2) {
	border-right: solid 1px #c8c8c8;
	padding: 0 10px;
}

#profile {
	text-align: center;
	line-height: 30px;
	min-width: 32px;
	height: 32px;
	background-color: #eff4fc;
	border-radius: 50%;
}

.CommentMarginLeft {
	width: 100%;
	margin-left: 20px;
}

.topInfoBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.infoBox {
	display: flex;
	gap: 20px;
}

.comment_regDate_Color {
	color: #a6a6a6;
}
.comment_content{
	height: auto;
}

#commentElmt:hover {
	color: #212529;
	cursor: pointer;
}

#commentIcon {
	transform: rotate(180deg);
	margin-right: 5px;
}
.deleteBtnBox{
	color: #a6a6a6;
}
.udpateComment:hover {
	color: #212529;
	cursor: pointer;
}
.deleteComment:hover {
	color: #212529;
	cursor: pointer;
}

#commentCreate {
	display: flex;
	    margin-bottom: 20px;
/* 	border-bottom: 1px solid #c8c8c8; */
}
#reCommentCreate{
	display: flex;
	padding: var(--size22) 0 0 var(--size22);
}

#commentEdit {
	display: flex;
	flex-direction: column; /* 세로 배치임*/
	justify-content: space-between;
	border: solid 1px #c8c8c8;
	width: 100%;
	height: 92px;
	margin-left: 20px;
}
#reCommentEdit {
	display: flex;
	flex-direction: column; /* 세로 배치임*/
	justify-content: space-between;
	border: solid 1px #c8c8c8;
	width: 100%;
	height: 92px;
	margin-top: var(--size16);
}

#commentContent {
	width: 100%;
	outline: none;
	border: none;
	padding: var(--size10) var(--size16);
}

.reCommentContent{
	width: 100%;
	outline: none;
	border: none;
	padding: var(--size10) var(--size16) ;
}

.updateCommentContent {
	width: 100%;
	outline: none;
	border: none;
	padding: var(--size10) var(--size16);
}
#loadMoreBtnElmt{
	text-align: center;
	border-top : solid 1px #a6a6a6;
	height: 40px;
	line-height: 40px;
}
#loadMoreBtn:hover{
	color: #a6a6a6;
}
.btnDefaultDesignNone { /* 버튼의 기본 디자인을 없애는 클래스 */
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

#commentBottom { /*  댓글등록 버튼*/
	padding: 0 var(--size16) var(--size10) var(--size16);
	margin-left: auto;
}
#preoOrNextPostElmt{
	width: 100%;
	border-top: solid 1px #c8c8c8;
	border-bottom: solid 1px #c8c8c8;
}
.onePostInfoElmt td:nth-child(1) {
	padding: 0 var(--size22);
}
.onePostInfoElmt{
	border-bottom: solid 1px #c8c8c8;
}
.onePostElmt td:nth-child(1) {
	padding: var(--size12) var(--size22);
}
.onePostElmt td:last-child {
	padding-right: var(--size12);
}
.currentPost{
	padding-left:var(--size12);
}

.onePostElmt {
    background-color: white;
    transition: background-color 0.3s; 
}
.onePostElmt:hover {
    background-color: #f9f9f9; 
}