
#right_bar{
    width: 100%;
    height: auto;
    border: 0px solid red;
}

#right_title_box {
    box-sizing: border-box;
    padding: var(--size24) var(--size24) var(--size18) var(--size24);
    border-bottom: 1px solid #c8c8c8;
}
#totalCount{
	font-size: var(--size16);
}

#right_title {
    font-size: var(--size22);
}
#boardInfoElmt{ /*게시판의 정보를 나타내는 요소(게시판운영자,설명)*/
	width: 100%;
	height: 100%;
	margin:var(--size24) 0;
	padding:var(--size24) 0 var(--size24) var(--size10);
	background-color:#f9f9f9;	
	border: solid 1px #c8c8c8;
}
#right_menu_container {
    display: flex;
    align-items: center;
    margin-top: var(--size24)
}
.writePostBtn_small:hover{
	background-color:#f9f9f9;
}

#right_menu_container > span {
    margin-right: var(--size14);
}

#right_menu_container > span:last-child{
    margin-right: 0px;
}

#right_menu_container span a {
    text-decoration: none;
    color: #333;
}

#mailListAllCheck:checked {
    border-color: #2985db;
    background-color: #2985db;
}

#reBtn_box {
    margin-left: auto;
}

#reBtn_box > span > span {
    display: inline-block;
    width: var(--size24);
    height: var(--size24);
    border-radius: var(--size2);
    transition: 0.5s all;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    
}

#reBtn_box > span > span:last-child{
    width: var(--size38);
    position: relative;
}

#reBtn_box > span > span:last-child > i {
    transform: rotate(90deg);
}

#sortCnt_btn > ul {
    display: none;
    position: absolute;
    right: 0px;
    width: max-content;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.1);
}

#sortCnt_btn > ul > li {
    box-sizing: border-box;
    padding: var(--size10) var(--size20);
    transition: all 0.5s;
}

#sortCnt_btn > ul > li:hover {
    background-color: #eee;
}

#reBtn_box > span > span:hover{
    background-color: #eee;
}

#sort_btn {
    position: relative;
}

#sort_btn > ul {
    display: none;
    position: absolute;
    right: 0px;
    width: max-content;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.1);
}

#sort_btn > ul > li {
    box-sizing: border-box;
    padding: var(--size10) var(--size20);
    transition: all 0.5s;
}

#sort_btn > ul > li:not(.list_title):hover {
    background-color: #eee;
}

.list_title {
    font-size: var(--size12);
    color: #999;
    padding: var(--size8);
}


/* 게시글 보여주는 요소 시작 */
#postContainer{
	width: 100%;
	display:flex;
}

#postContainer table {
    width: 100%;
    border-collapse: collapse;
}
#postContainer tr:nth-child(1) {
    border-bottom: 1px solid #c8c8c8;
}
#postContainer td {
    border: none;
}
#postContainer td:nth-child(1){
	padding: var(--size8) var(--size36) var(--size8) var(--size22);
}
#postContainer td:not(:nth-child(1)) {
    padding: var(--size8);
    text-align: center;
}
#postContainer td:nth-child(2){
	width : 1100px;
	text-align: left;
}
.postSubject{
	cursor: pointer;
}


.onePostElmt:hover{
	background-color: #f9f9f9;
}
.ifNoPostWritePostBtn{
    width: 10%;
    height: var(--size44);
    font-size: var(--size18);
    transition-duration: 150ms;
    border-width: 1px;
    border-style: solid;
    border-radius: calc(var(--size2) + var(--size2));
    align-items: center;
    text-wrap: nowrap;
    background-color: #2985db;
    border-color: #056ac9;
    color: #fff;
    margin-bottom: var(--size10);
}




.btnDefaultDesignNone { /* 버튼의 기본 디자인을 없애는 클래스 */
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}






































